img {
  height: 30rem;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  background: lightgray;
}

button {
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  background: gray;
  margin-top: 1rem;
}

li {
  font-size: 2rem;
}
